{% extends '/home_foodtruck/index.html.twig' %}




{% block body %}


<div class="container">
    <div class="jumbotron" id='cadreForm' >
        <h1 class='titreForm'>Inscription  </h1>
            <div class="form-group" id='formClient'>
            
       {#  {{dump(form_client)}} #}
                {{ form_start(form_client) }}
                {{ form_row(form_client.username, {'label': 'Nom', 'attr':
                    {'placeholder': 'Votre Nom..'}}) }}
                {{ form_row(form_client.password, {'label': 'Mot de passe', 'attr':
                    {'placeholder': 'Entrez votre mot de passe..'}}) }}
                {{ form_row(form_client.confirm_password, {'label' : 'Confirmer mdp',
                    'attr': {'placeholder': 'Confirmez votre mot de passe...'}}) }}
                {{ form_row(form_client.email,  {'label' : 'Email',
                    'attr': {'placeholder': 'Votre Email...'}}) }}
                {{ form_row(form_client.tel,  {'label' : 'Telephone',
                    'attr': {'placeholder': 'Numéro de telephone...'}}) }}
                {{ form_row(form_client.ville) }}

                {{ form_row(form_client.nom_entreprise, { 'label': ' ','attr' : { 'style':'display:none','value' : 'Null'}}) }}
                <button type="submit" class='btn btn-success btn-lg' id='buttonForm'>Envoyer</button>
               {{ form_rest(form_client) }}
                {{ form_end(form_client) }}
            </div>
    </div>
</div>
{% endblock %}
