{% extends 'base.html.twig' %}

{% block title %}Accueil {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-2">
    <div class="jumbotron" id='presentation'>
    <h1>Bienvenue</h1>
    <p class="lead" id="paraDescription"><img src="/images/maPhoto.jpg" alt="ma_photo" style= width="130px;" height="130px;" id="maPhoto">Je me présente je suis ludovic Falandry développeur web junior.
    Ce site est mon portfolio , vous pouvez voir mes compétences ainsi que mes réalisations,
    si vous avez des questions n'hésitez pas à me contacter. </p>
  
    <p>Bonne visite.</p>
    {# <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p> #}
    </div>
</div>

    <div class="card text-white bg-dark mb-3"  id='competence'>
    <h4 class="card-title">Languages</h4>
        <div class="card-body">
            <div class="card-header">HTML 5 <img src="/images/html5.png" alt="ma_photo" style= width="70px;" height="50px;" id="html5"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75 %</div>
            <div class="card-header">CSS <img src="/images/css1.png" alt="ma_photo" style= width="70px;" height="50px;" id="css1"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75 %</div>
                    <div class="card-header">Bootstrap <img src="/images/bootstrap.png" alt="ma_photo" style= width="50px;" height="50px;" id="bootstrap"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75 %</div>
                    <div class="card-header">PHP <img src="/images/php.png" alt="ma_photo" style= width="50px;" height="50px;" id="php"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80 %</div>
                    <div class="card-header">Javascript <img src="/images/js.png" alt="ma_photo" style= width="50px;" height="50px;" id="js"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%" >70 %</div>
                    <div class="card-header">Symfony <img src="/images/symfony.png" alt="ma_photo" style= width="50px;" height="50px;" id="symfony"></div>
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70 %</div>
            
            </div>
            

        </div>
        
    </div>

    <div class="jumbotron" id='outils'>
  {#   <h4 id="titreOutil">Outils</h4> #}
        
        <img src="/images/vs.png" alt="ma_photo" style= width="80px;" height="80px;" class="outil">
        <img src="/images/git.jpeg" alt="ma_photo" style= width="80px;" height="80px;" class="outil">
        <img src="/images/netbeans.jpeg" alt="ma_photo" style= width="80px;" height="80px;" class="outil">
        
        <a href="http://facebook.com/ludovic.falandry.9"><img src="/images/facebook.png" alt="ma_photo" style= width="50px;" height="50px;" id="facebook" class="icone"></a>
        <a href="http://www.linkedin.com/in/ludovic-falandry"><img src="/images/linkedin.png" alt="ma_photo" style= width="70px;" height="50px;" id="linkedin" class="icone"></a>
        <a href="mailto:lfalandry@hotlmail.com"><img src="/images/mail.png" alt="ma_photo" style= width="50px;" height="50px;" id="mail" class="icone"></a>
        <a href="http://twitter.com/FalandryL"><img src="/images/twiter.png" alt="ma_photo" style= width="50px;" height="50px;" id="twiter" class="icone"></a>

    
    
    
    </div>
    </div>

 {% block javascripts %}
            <script src="/style.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
{% endblock %}
