body {
    background-image: url('/images/fond.jpg')
}
.navbar-expand-lg {
    opacity: 0.8;
}
.nav-item{
    margin-left: 100px;
    font-size: 5mm
}

h1 {
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}

#presentation {
    margin-top: 80px;
    margin-left: -50px;
    width: 700px;
    height: 500px;
    font-size: 10mm;
    color: white;
    opacity: 0.8;

    
}

#paraDescription {
    margin-top: 40px;
    font-weight: bold;
    font-size: 24px

}

#maPhoto {
    float: left;
    padding-right: 8px;
    border-radius: 20%;
}

#competence {
    width: 390px;
    height: 500px;
    margin-left: 700px;
    margin-top: -530px;
    opacity: 0.9;

    
}

.card-title {
    text-align: center;
    margin-top: 5px;

}

#html5 {
    margin-left: 225px;
    position: absolute;
    margin-top: 5px;
    width: 59px ;
}

#css1 {
    margin-left: 235px;
    position: absolute;
    margin-top: 5px;
    padding-left: 15px; 
    width: 74px ;
}

#bootstrap {
    margin-left: 200px;
    position: absolute;
    margin-top: 9px;
    padding-left: 19px; 
    width: 60px ;
   
}

#php {
    margin-left: 235px;
    position: absolute;
    margin-top: 10px;
    padding-left: 15px; 
    width: 65px ;
    height: 60px;
  
}

#js {
    margin-left: 185px;
    position: absolute;
    margin-top: 8px;
    padding-left: 15px; 
    width: 89px ;
}

#symfony {
    margin-left: 205px;
    position: absolute;
    margin-top: 8px;
    padding-left: 15px; 
    width: 69px ;
}

#outils {
    margin-top: 50px;
    margin-left: -50px;
    width: 1127px;
    height: 200px;
    opacity: 0.7;
}
#titreOutil {
    margin-top: -0px;
}

.outil {
    margin-left: 50px;
}
#facebook {
    margin-left: 250px;
    margin-top: -25px;
    width: 80px;
    position: absolute;
}
#linkedin {
    margin-left: 250px;
    margin-top: 46px;
    position: absolute;
    width: 80px;
    height: 70px;
}
#mail {
    margin-left: 350px;
    width: 60px;
    margin-top: -25px;

    position: absolute;
}
#twiter {
    margin-top: 55px;
    width: 60px;
    margin-left: 350px;
    position: absolute;
}



  #cv {
      width: 900px;
      height: 1000px;
      margin-left: 50px;
      margin-top: 50px;
      opacity: 0.6;
  }
  #dossier {
      width: 100px;
      height: 100px;
      margin-left: 30px;
      margin-top: -10px;
  }
  #netflop {
      margin-top: 80px;
  }

  #foodtruck {
      margin-top: 80px;
      margin-left: 150px;
  }

  #boutonContact {
      width: 180px;
      height: 50px;
      margin-left: 450px;
      margin-top: 50px;
      
  }

  #portfolio {
      height: 80px;
  }

.titreRealisation {
    color: rgb(196, 83, 79);
    font-family:  'Arial Narrow', 'sans-serif';
    font-weight: bolder;
  }
  #cadreConnexion {
      background-color: red;
  }






  

  /*  ----------------------netflox-------------------------------  */
  