@font-face {
	font-family: 'Hanalei Fill', cursive;
	font-family: 'Lobster', cursive;
	font-family: 'Source Sans Pro', sans-serif;
	src : url("https://fonts.googleapis.com/css?family=Hanalei+Fill|Lobster|Source+Sans+Pro" );

}

html {
/*	background:rgb(186, 197, 212) url(/Pictures/foodtruck/foodtruckpeugeot.jpg) no-repeat center center fixed; */
	min-height:100%;
        
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
			background-size: cover;
			
}
body {
	background-image: url('/Pictures/foodtruck/body.jpg') ;
}
.navbar-expand-lg{
	background-color: chocolate;
	

}
.navbar-expand-lg a {
	color : black;
}

.navbar li {
	font-size: 23px;
	color: white;
	
	font-family: Hanalei Fill;
    
}
#banniere {

    margin-top: -20px;
	margin-left: -129px;
	opacity: 0.97;

}
#cadreForm {
	margin-top: 30px;
	margin-left: 20%;
	margin-bottom: 90px;
	opacity: 0.9;
	background-color: chocolate;
	width: 700px
	
}
.titreForm {
	margin-bottom: 80px;
	margin-left: 25%;
	font-family: Hanalei Fill;
}
#formClient {
	
	width: 700px;
	margin-left: 20%;	
}
#formClient input {
	width: 300px;
	margin-top: 10px;
	height: 40px;
	font-size: 20px
}
#buttonForm {
	margin-left: 25%;
	margin-top: 50px;
	width: 150px;
	height: 60px;
	background-color: #6CFF45;
	font-size: 22px
}
.titreLogin {
	margin-left: 30%;
	margin-top: 50px;
	margin-bottom: 30px;
	font-family: Hanalei Fill;
	font-size: 40px;
	

}
.label {
	font-size: 20px;
	color: black;
	padding-bottom: 100px;
	
}

.form-error-icon {
	/* position: absolute; */
 	background-color :#6CFF45;

} 
/* .form-error-message  {*/
	/* position: absolute; */
	/* color :white;	
	width: 400px;
	height: 100px;
	margin-left: 170px; */
	/* margin-top: 30px; */
/* }  */
span {
	width: 500px;
	margin-top: 10px;
	color: white;
	text-align: center;
}
#cardFoodtruck {
	margin: 50px;
	
	height: 200px;
	background-color: chocolate;
	font-size: 18px;
}
#foodtrucksListe {
	background-color: rgb(210, 255, 253);
	border: white solid;
	margin-bottom: 90px;
	
}
.card-header {
	font-family: 'Lobster', cursive;
	font-size: 22px;
}
#user_city {
	width: 200px;
	height: 30px;
	font-size: 20px;
	margin-top: 10px;
}
legend {
	display: none;
}
#user_ville_nom {
	margin-left: 20px;
}
#titreFoodtruck{
	padding-top: 20px;
   font-family: 'Hanalei Fill', cursive;
   
   text-align: center; 
   width: auto;
   font-size: 39px;
   height: 80px;   
  
}
#cardFoodtruck {
	border: #6CFF45 solid;
}
#nomEntreprise {
	border-bottom: #6CFF45 solid;
	text-align: center;
}
#carShow {
	height: 500px;
	width: 400px;
	font-size : 22px;
	font-family: 'Hanalei Fill', cursive;
	background-color: chocolate;
	opacity: 0.95;
}
#carShow a {
	color: #6CFF45;
	font-family: 'Lobster', cursive;
}

#showGlobal {
	margin-bottom: 100px;
	margin-left: 350px;
} 
#accueil {
	margin-bottom: 100px;
}
#accueilClient {
	border: chocolate solid;
}
#accueilFood {
	border: chartreuse solid;

}
.form_error {
	font-size: 25px;
	margin-bottom: 15px;
	
	padding: 10px;
}
#searchVille {
	z-index: 1;
	position: absolute;
	width: 300px;
	height: 40px;
	margin-top: 70px;
	margin-left: 100px;
	font-size: 18px;
}
#boutonSearch {
	z-index: 1;
	position: absolute;
	top: 69px;
	width: 100px;
	height: 42px;
	left: 395px;
/* 	background-color: #6CFF45; */
	font-size: 18px;
	

}
#entreprise {
	text-align: center;
	font-size: 26px;
	color: white;
}
#listeSearch {
	margin-left: 40px;
	margin-bottom: 100px;
}
#carSearch {
	height: 500px;
	width: 400px;
	font-size : 22px;
	font-family: 'Hanalei Fill', cursive;
	background-color: chocolate;
	opacity: 0.95;
	margin-left: 20px;
}
#carSearch a {
	color: #6CFF45;
	font-family: 'Lobster', cursive;
}
#null {
	margin-top: 20px;
	margin-left: 400px;
	background-color: white;
	width: 500px;
	height: 150px;
	text-align: center;
	padding: 50px;
	color: #6CFF45;
	border: chocolate solid;
}
#listeSearch{
	margin-top: 80px;
}
#profil{
	position: absolute;
	margin-left: 1100px;
	z-index: 1;	
	width: 200px; 
}
#lienProfil{
	font-size: 18px;
	color: #6CFF45;
}



