/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 mars 2018, 15:06:28
    Author     : niko
*/
@font-face
{
    font-family: "Bebas";
    src: url("../../fonts/BebasNeue-Regular.eot"),
        url("../../fonts/BebasNeue-Regular.otf"),
        url("../../fonts/BebasNeue-Regular.ttf"),
        url("../../fonts/BebasNeue-Regular.woff"),
        url("../../fonts/BebasNeue-Regular.woff2");
}

body
{
    background-image: url("../../Pictures/back.jpg");
    background-attachment: fixed;
    color: white;
    font-family: arial;
}

body::-webkit-scrollbar {

  width: 0;
}
 
.bg-opacity
{
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0.55) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(0,0,0,0.55) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(0,0,0,0.55) 100%);
}
    /*background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0.55) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(0,0,0,0.55) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(0,0,0,0.55) 100%);
*/

img
{
    width: 200px;
    height: 300px;
    border-style: solid;
    border-width: 2px 1px 2px 1px;
    border-color: white;
    z-index: 800;
}

article
{
    padding-top: 20px;
}

article figure
{
    color: white;
    font-weight: bold;
    width: 200px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}


.navbar-dark .navbar-brand 
{
  color: red;
  font-family: "Bebas", arial;
  font-size: 2.3em;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus 
{
  color: red;
  font-family: "Bebas", arial;
  font-size: 2.3em;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  border-bottom: 2px solid transparent;
  transition: all .3s;
  font-family: arial;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: red;
  border-bottom: 2px solid red;
  transition: all .3s;
  font-family: arial;
}

h2
{
    padding-left: 2%;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    font-family: "Bebas", arial;
    font-size: 2.5em;
    color: red;
}

.footer
{
    margin-top: 40px;
    font-size: 1em;
    font-family: "Bebas", arial;
}

#Films
{
    margin-top: 100px;
    background-color: rgba(0,0,0,0.75);
}

#Series
{
    margin-top: 100px;
    background-color: rgba(0,0,0,0.75);
}

#Documentaires
{
    margin-top: 100px;
    background-color: rgba(0,0,0,0.75);
}

#Manga
{
    margin-top: 100px;
    background-color: rgba(0,0,0,0.75);
}

.align
{
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 6px 6px 10px black;
    font-weight: bold;
}

.paracenter
{
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.hiddenInfo {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.40);
  position: fixed;
  top: 0;
  float: left;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: none;
}

.info {

  width: 80%;
  height: 60%;
  margin: 200px auto;
  text-align: justify;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.80);
  color: black;
  overflow: scroll;
}

.imgtaille {

  height: 30px;
  width: 30px;
}

h3 {

  font-size: 1em;
  font-weight: bold;
}

#movie-title {

  font-weight: bold;
  font-size: 2em;
}

#movie-img {

  float: right;
}

.col-auto {

  width: 200px;
}

.items :hover {

    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .4s;
    z-index: 880;
}

.slideshow0 {
   width: 100%;
   height: 430px;
   overflow: hidden;
}

.slideshow0 article {
    /* 1 image = 100% */
   width: 2000%;
   padding-top: 20px;
   padding-bottom: 40px;
   height: 400px;
   position: relative;
   left: -200px;
}
.slideshow0 figure {
   float: left;
}

.slideshow1 {
   width: 100%;
   height: 430px;
   overflow: hidden;
}

.slideshow1 article {
   width: 2000%;
   padding-top: 20px;
   padding-bottom: 40px;
   height: 400px;
   position: relative;
   left: -200px;
}
.slideshow1 figure {
   float: left;
}

.slideshow2 {
   width: 100%;
   height: 430px;
   overflow: hidden;
}

.slideshow2 article {
   width: 2000%;
   padding-top: 20px;
   padding-bottom: 40px;
   height: 400px;
   position: relative;
   left: -200px;
}
.slideshow2 figure {
   float: left;
}

.slideshow3 {
   width: 100%;
   height: 430px;
   overflow: hidden;
}

.slideshow3 article {
   width: 2000%;
   padding-top: 20px;
   padding-bottom: 40px;
   height: 400px;
   position: relative;
   left: -200px;
}
.slideshow3 figure {
   float: left;
}

.myLeft {

  height: 50px;
  width: 50px;
  top: -240px;
  left: 10px;
  float: left;
  position: relative;
  transform: rotate(180deg);
  z-index: 900;
}

.myRight {

  height: 50px;
  width: 50px;
  float: right;
  position: relative;
  top: -240px;
  right: 10px;
  z-index: 900;
}

.mybutton {

  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
}

.myLeft :hover {
  -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .4s;
    transform: rotate(-360deg);
    z-index: 1100;
}

.myRight :hover {
  -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    transition: all .4s;
    transform: rotate(360deg);
    z-index: 1100;
}

.btn-outline-success {

  color: red;
  border-color: red;
}

.btn-outline-success:hover {

  background-color: red;
  border-color: red;
}

#searchid {

  background-color: white;
  color: black;
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  position: fixed;
  right: 0;
  display: none;
  z-index: 1000;
  top: 220px;
  border-bottom-left-radius: 20px;
}

.search {

  font-weight: bold;
  height: 100px;
  border-bottom: 1px solid black;
}

.search:hover {

  margin-left: 20px;
  transition: all .4s;
  text-decoration: underline;
  cursor: pointer;
}

#searchid div p {

  align-self: center;
  margin-left: 20px;
}

#searchid div img {
  width: 60px;
  height: 99px;
}

.navbar-nav .dropdown-menu {

  height: 350px;
  width: 500px;
  overflow: scroll;
}

.dropdown-item {

  width: 40%;
  display: inline-block;
}

.dropdown-item:hover {

  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 992px) {

  #searchid {
  background-color: white;
  color: black;
  width: 50%;
  max-height: 300px;
  overflow: scroll;
  position: fixed;
  right: 0;
  display: none;
  z-index: 1000;
  top: 81px;
  border-bottom-left-radius: 20px;
  }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {

  position: unset;
}

.subfilm::-webkit-scrollbar, .subseries::-webkit-scrollbar {

  width: 0;

}

.info::-webkit-scrollbar {

  width: 0;
}

