/*****************************************************/
/****General****/
*
{
	margin:0px;
	padding:0px;
}
body
{
	background:#e2f6ff url('Pictures/foodtruck/background.gif') center top no-repeat;
	padding-left:10%;
	padding-right:10%;
	font-family:Arial, Geneva, sans-serif;
}
#menupm{
    margin:20px;
    width:600px;
}

#menupm ul{
    background:#3B5998;
    padding:10px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
    border-radius:7px;
}

#menupm ul li{
    display:inline;
    list-style-type:none;
    padding:5px;
    margin:20px;
    font-size:1.1em;
}

#menupm ul li a{
    text-decoration:none;
    color:#f7f7f7;
}
.notification:after{
    content:attr(data-notification);
    background:#bc0000;
    color:white;
    padding:0 5px;
    margin-left:5px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
a
{
	text-decoration:none;
	color:#333333;
}
a:hover
{
	color:#000000;
}
img, table, tr, td
{
	border:0px;
}
h1
{
	text-align:center;
	margin:0px;
	padding:0px;
}
.clean
{
	clear:both;
}
.left
{
	text-align:left;
}
.center
{
	text-align:center;
}
input
{
	width:150px;
}
label
{
	width:200px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
table
{
	border-spacing:0px;
	background:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:0px;
	width:95%;
	margin:5px auto 5px auto;
}
tr
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:0px;
}
td, th
{
	margin:0px;
	border:0px;
	padding:3px;
	text-align:center;
}
/*****************************************************/
/****Blocs****/
.header
{
	margin:auto;
	margin-top:10px;
	padding:15px;
	background:url('images/bluec_30p.png');
	width:70%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	text-align:center;
}
.foot
{
	text-align:center;
	background:url('images/bluec_30p.png');
	width:60%;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	margin:auto;
	padding:10px;
	margin-top:20px;
}
.content
{
	background:url('images/bluec_30p.png');
	width:65%;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	margin:auto;
	padding:20px;
	margin-top:20px;
}
/*****************************************************/
/****Contenu****/
.big
{
	font-size:1.2em;
}
.small
{
	font-size:0.7em;
}
.message
{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding:20px;
	margin:auto;
	width:500px;
	background:url('images/black_40p.png');
	color:#ffffff;
	text-align:center;
	font-weight:bold;
	margin-top:20px;
}
.messages_table td
{
	border-top:1px solid #aaaaaa;
	vertical-align:top;
}
.author
{
	width:150px;
	border-right:1px solid #aaaaaa;
}
.title_cell
{
	width:45%;
}
.date
{
	font-style:italic;
	text-align:right;
	font-size:0.9em;
	margin-right:10px;
}
.link_new_pm
{
	font-size:1.3em;
	font-weight:bold;
	margin:5px 0px 5px 0px;
	display:inline-block;
	border:1px solid #dddddd;
	background:#ffffff;
	padding:5px;
}