{% extends 'base.html.twig' %}

{% block title %}Mes Réalisations{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div id='netflop'>
            <h3 class="titreRealisation">NETFLOX</h3>
            <a href="/netflox" target="_blank"><img src="/images/dossier.png" alt="dossier_projet" id="dossier"></a>
                    </div>
        <div id='foodtruck'>
            <h3 class="titreRealisation">FOOD-TRUCKS</h3>
            <a href="/foodtruck" target="_blank"><img src="/images/dossier.png" alt="dossier_projet" id="dossier"></a>
        </div>
        

    </div>

</div>
{% block javascripts %}
<script src='/style.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
 

 {% endblock %}

{% endblock %}
