{% extends '/home_foodtruck/index.html.twig' %}

{% block body %}
 
     

    <div class="container" id="foodtrucksListe">
    <h1 id='titreFoodtruck'>Nos Foodtrucks inscrits !</h1>    
        <div class="row">
            {% for foodtruck in foodtrucks %}
            {% if foodtruck.roles == ['ROLE_FOODTRUCK'] %}
            <div class="card text-white  mb-3" style="max-width: 50rem;" id="cardFoodtruck">
                <div class="card-header" id='nomEntreprise'>{{ foodtruck.nomEntreprise }}</div>
                    <div class="card-body">
                    <h4 class="card-title">Thème :</h4>
                    <p class="card-text">Telephone : {{ foodtruck.tel }}</p>
                    <p class="card-text">Ville : {{ foodtruck.ville.nom }}</p>
                    <p class="card-text"> <a href="{{ path('foodtruck_show' , { 'id' : foodtruck.id }) }}">Voir le Foodtruck</a></p>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
{% endblock %}

 {% block javascripts %}
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

