{% extends '/home_foodtruck/index.html.twig' %}




{% block body %}


<div class="container">
    <div class="jumbotron" id='cadreForm' >
        <h1 class='titreForm'>Inscription  </h1>
            <div class="form-group" id='formClient'>
            
        
                {{ form_start(form_foodtruck) }}
               {#  {{dump(form_foodtruck)}} #}
                    {{ form_row(form_foodtruck.username, {'label': 'Nom', 'attr':
                        {'placeholder': 'Votre Nom..'}}) }}
                        {{ form_row(form_foodtruck.password, {'label': 'Mot de passe', 'attr':
                        {'placeholder': 'Entrez votre mot de passe..'}}) }}
                            {{ form_row(form_foodtruck.confirm_password) }}
                                {{ form_row(form_foodtruck.email,  {'label' : 'Email',
                                    'attr': {'placeholder': 'Votre Email...'}}) }}
                                    {{ form_row(form_foodtruck.nom_entreprise,  {'label' : 'Foodtruck',
                                    'attr': {'placeholder': 'Nom Foodtruck...'}})}}
                                        {{ form_row(form_foodtruck.tel,  {'label' : 'Tel',
                                    'attr': {'placeholder': 'Numéro télephone...'}}) }}
                                            {{ form_row(form_foodtruck.ville,  {'label' : 'Ville',
                                            'attr': {'placeholder': 'Votre ville...'}}) }}
                                            <button type="submit" class='btn btn-success btn-lg' id='buttonForm'>Envoyer</button>
                                                {{ form_rest(form_foodtruck) }}
                                                {{ form_end(form_foodtruck) }}
            </div>
    </div>
</div>
{% endblock %}

