{% extends '/home_foodtruck/index.html.twig'%}

{% block body %}
<div class="container-fluide">
    <div class="row" id='listeSearch'>
        {# <div class="col-sm" id='showGlobal'> #}
        {% if  search == 'null' %}
        <div id="null"><h1>Pas de resultat pour votre ville ....</h1></div>
         {% else %}
{% for food in search %}
{# {{dump(food )}} #}

        
            <div class="card mb-3" id='carSearch'>
                <h3 class="card-header" id='entreprise'>{{ food.NomEntreprise }}</h3>
                
                <img style="height: 200px; width: 100%; display: block;" src="/Pictures/foodtruck/imgFood.gif" alt="Card image">
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Thème :</li>
                    <li class="list-group-item">Telephone : {{ food.tel }}</li>
                    <li class="list-group-item">Ville : {{ food.ville.nom }}</li>
                    
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Carte :</a>
                    <a href= "mailto:{path{{ food.email }}" class="card-link">Contact  </a>
                </div>
             
            </div>
        {# </div> #}
            {# <div class="col-sm">
            </div> #}
            {% endfor %}
           
            
            {% endif %}
    </div>   
</div>

{% endblock %}
 {% block javascripts %}
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
