{% extends '/home_foodtruck/index.html.twig'%}

{% block body %}
{#  {{dump(user)}} #}
 <div class="container">
    <div class="row" id='showGlobal'>
       
            <div class="card mb-3" id='carShow'>
                <h3 class="card-header" id='entreprise'>{{ user.nomEntreprise }}</h3>
                
                <img style="height: 200px; width: 100%; display: block;" src="/Pictures/foodtruck/imgFood.gif" alt="Card image">
                
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Thème :</li>
                    <li class="list-group-item">Telephone : {{ user.tel }}</li>
                    <li class="list-group-item">Ville : {{ user.ville.nom }}</li>
                    
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Carte :</a>
                    <a href= "mailto:{path{{ user.email }}" class="card-link">Contact  </a>
                </div>
             
           
        </div>
           
    </div>   
 </div>

{% endblock %}
 {% block javascripts %}
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
