{% extends 'base.html.twig' %}
{% form_theme our_form 'bootstrap_4_layout.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}


<div class="container">
    <h1>Contact</h1>
    {{ form_start(our_form) }}
    
    {{ form_row(our_form.name, {'attr' : {'placeholder' : 'Votre Nom....'}}) }}
    
    
    {{ form_row(our_form.from, {'attr' : {'placeholder' : 'Votre Email...'}}) }}
 
    
    {{ form_row(our_form.message, {'attr' : {'placeholder' : 'Votre Message...'}}) }}
   
  
    <input type="submit" value="ENVOYER" class='btn btn-primary' id="boutonContact" />
   
    {{ form_end(our_form) }}
    
    
</div>
{% endblock %}
