{% extends '/home_foodtruck/index.html.twig' %}

{% block body %}
<div class="container" id="accueil" >
    <div class="jumbotron" id="accueilClient">
    <h1 class="display-3">Quoi manger ce soir ? </h1>
    <p class="lead">Trouvez votre foodtruck près de chez vous et commandez en ligne.</p>
    <hr class="my-4">
    <p>Une simple inscription ,gratuite, vous aurez la possibilité de commander en 
    ligne et de découvrir de nouvelle saveur innatendu .</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="{{ path('client_food') }}" role="button">Nouveau client</a>
    </p>
    </div>

    <div class="jumbotron" id="accueilFood">
    <h1 class="display-3">Vous avez un foodtruck ?</h1>
    <p class="lead">Devenez visible grace a notre réseau !</p>
    <hr class="my-4">
    <p>Profitez de notre visibilité pour faire découvrir vos menus,
     vos positions géographiques et notre système de commande en ligne 
     ainsi qu'un espace de gestion en ligne de vos commandes.</p>
    <p class="lead">
        <a class="btn btn-success btn-lg" href="{{ path('foodtruckRegistre') }}" role="button">Nouveau foodtruck</a>
    </p>
    </div>
</div>
{% endblock  %}

{% block javascripts %}
<script src="/jquery.js"></script>
{% endblock %}