{# {% extends 'base.html.twig' %} #}


     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href=" /foodtruck.css " />
    
     {% block stylesheets %}{% endblock %}
        
    <body>
                <nav class="navbar navbar-expand-lg " >
                   <div class="collapse navbar-collapse" id="navbarColor02"> 
                        <ul class="nav nav-pills" role="menu" aria-labelledby="dLabel"  id="menu">
                       
                            <li><a href="/foodtruck" class="active">Accueil</a></li>
                           
                             <ul class="nav nav-pills" role="menu" aria-labelledby="dLabel"  id="menu">
                             
                                {% if not app.user or app.user.Roles['0'] == ['ROLE_CLIENT']  %}
                                <li><a href="{{ path('client_food') }}" class="active">Espace Client</a></li>
                                {% endif %}
                                 {% if not app.user or app.user.Roles['0'] == ['ROLE_FOODTRUCK']  %}
                                <li><a href="{{ path('foodtruckRegistre') }}" class="active">Espace Foodtruck</a></li>
                                 {% endif %}
                                <li><a href="{{ path('foodtrucks') }}" class="active">Nos Foodtruck</a></li>
                               
                                {% if not app.user %}
                                <li><a href="{{ path('login') }}">Connexion</a></li>
                                {% else %}
                                <li><a href="{{ path('logout') }}" class="active">Deconnexion</a></li> 
                                {% endif %}
                           {#  <?php 
                            } ?>

                            <?php if(isset($_SESSION['id']))
                            { ?>
                                <li><a href="/deconnexion">Deconnexion</a></li>
                            <?php
                            } ?>

                            <?php if (isset($_SESSION['idC']))
                            { ?>
                                <li><a href="/espace-client/profil">Mon Profil</a></li>
                                <li><a href="/tous-les-foodtrucks">Nos Foodtrucks</a></li>
                            <?php
                            } ?>

                            <?php if (isset($_SESSION['idF']))
                            { ?>
                                    
                                <li><a href="/espace-foodtruck/profil">Mon Profil</a></li>
                                <li><a href="/carte">Carte</a></li>
                                <li><a href="/espace-foodtruck/evenement">Evenement</a></li>
                                <li><a href="/espace-foodtruck/messages/<?php echo $_SESSION['id'];?>">Mes messages</a></li>
                            <?php
                            } ?>
                            <?php if (isset($_SESSION['id_pro']))
                            { ?>
                                <li><a href="/deconnexion">Deconnexion</a></li>
                                <li><a href="/espace-pros/profile">Mon Profil</a></li>
                            <?php
                            } ?>

                            <?php if (isset($_SESSION['id_admin']))
                            {?>
                                <li><a href="/deconnexion">Deconnexion</a></li>
                                <li><a href="/espace-administration">Administration</a></li>
                            <?php
                            } ?> #} 


                       {#  <?php if (isset($_SESSION['pseudo']) == true) { ?> 
                             <p id="messageHeader">
                                 <a href="/espace-client/messages/<?php echo $_SESSION['id'];?>">Mes messages</a>
                            </p>
                            <img src="/images/blankuser.png" id="visiteur" style="width: 40px; height: 50px;">

                            <div id="bonjour"><p>Bonjour <?php echo ' ' . $_SESSION['pseudo']; ?></p></div><br><br>
                           
                               
                        <?php } ?>
                        <?php if (isset($_SESSION['idF']) == true) { ?> 
                            <img src="/images/blankuser.png" id="visiteurFood" style="width: 40px; height: 50px;">

                            <div id="bonjourFood"><p>Bonjour <br><?php echo ' ' . $_SESSION['nom'] . ' ' . $_SESSION['prenom']; ?></div></p>
    
                        <?php } ?>

                        <?php if (isset($_SESSION['id_pro']) == true) { ?> 
                            <img src="/images/blankuser.png" id="visiteurFood" style="width: 40px; height: 50px;">

                            <div id="bonjourFood"><p>Bonjour <br><?php echo ' ' . $_SESSION['nom'] . ' ' . $_SESSION['prenom']; ?></div></p>

                        <?php } ?>
                        
 #}




                        </ul>
                    </div>
                </nav>  
                <div class="ui-widget" id="rechercheAccueil">
                    <form class="form-inline my-2 my-lg-0" id="searchVille" action='{{ path('search') }}'>
                        <input class="form-control mr-sm-2" type="text" id="searchVille" name='ville' placeholder="Rechercher par ville....">
                            <button class="btn btn-success my-2 my-sm-0" type="submit" id="boutonSearch">Trouver</button>
                    </form>
                </div> 
                    {% if app.user %}
                    <div id='profil' class="card text-white bg-secondary mb-3" style="max-width: 24rem;">
                            <div class="card-header">Bonjour {{ app.user.username }} </div>
                                <div class="card-body">
                                    <h4 class="card-title"></h4>
                                    <p class="card-text"><a href="{{ path('foodtruck_profil', { 'id' : app.user.id })  }}" id='lienProfil'>Votre profil</a></p>
                            </div>
                    </div>  
                    {% endif %}               
                    <div class="container">
                        <img src="/Pictures/foodtruck/banniere.png" alt="banniere" id="banniere"> 
                        
    {#  {{ dump(ville)}}  #} 
                   
                    </div>
                {#  <div class="ui-widget">  
            <label for="birds">Votre ville: </label>
            <input type="text" id="pro" name="ville" class='form-control'>
           
        </div> #}
    </body>
{% block body %}{% endblock %}








<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% block javascripts %}{% endblock %}