{% extends '/home_foodtruck/index.html.twig' %}

{% block body %}
<div class="form-group row" id="cadreForm">
<h1 class="titreLogin">Connexion</h1>

 <form action="{{ path("login") }}" method="post" id="formClient" >
        {{ error | raw}}
        <div class="form-group" class="groupeLabel">
        <label for="_username" class="label">Votre Email</label>
            <input type="text" class="form-control" placeholder="Adresse email...." require 
            name="_username" placeholder='Votre Email....'>
        
        </div>
            <div class="form-group">
                <label for="_password" class="label">Votre mot de passe</label>
                <input type="password" class="form-control" placeholder="Mot de passe...." require 
                name="_password" placeholder='Votre mot de passe....'>
            </div>

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

            <div class="form-group" class="groupeLabel">
                <button type="submit" class="btn btn-success" id="buttonForm">Connexion !</button>
            </div>
    </form>
</div>
{% endblock %}