{% extends '/home_foodtruck/index.html.twig' %}

{% block body %}
{{ dump(user) }}
<div class="container">
    <div class="jumbotron" id='cadreForm' >
        <div class="form-group" id='formClient'>
            {{ form_start(form_foodtruck) }}
               {#  {{dump(form_foodtruck)}} #}
                    {{ form_row(form_foodtruck.username, {'label': 'Nom'}) }}
                  
                                {{ form_row(form_foodtruck.email,  {'label' : 'Email',
                                    'attr': {'placeholder': 'Votre Email...'}}) }}
                                {% if (user.nomEntreprise != 'Null') %}
                                    {{ form_row(form_foodtruck.nom_entreprise,  {'label' : 'Foodtruck'})}}
                                {% else %}
                                    {{ form_row(form_foodtruck.nom_entreprise,  {'attr' : {'style': 'display:none' }})}}
                                {% endif %}
                                        {{ form_row(form_foodtruck.tel,  {'label' : 'Tel'}) }}
                                            {{ form_row(form_foodtruck.ville,  {'label' : 'Ville'}) }}
                                            <button type="submit" class='btn btn-success btn-lg' id='buttonForm'>Mettre à jour</button>
                                                {{ form_rest(form_foodtruck) }}
                                                {{ form_end(form_foodtruck) }}

       </div>
    </div>
</div>
{% endblock  %}


{% block javascripts %}
<script src="/jquery.js"></script>
{% endblock %}